node_modules
dist
.git
.husky
.github
e2e
playwright-report
test-results
*.md
.env*
.prettierrc
.prettierignore
eslint.config.js
Taskfile.yml
vitest.config.ts
playwright.config.ts
tsconfig*.json
docs
